Source: libgdiplus5-sil
Section: cli-mono
Priority: extra
Maintainer: Stephen McConnel <stephen_mcconnel@sil.org>
Build-Depends: debhelper (>= 7.0.50~), dpkg-dev (>= 1.13.19),
 dh-autoreconf,
 gawk,
 libtool,
 lsb-release,
 pkg-config,
 autoconf,
 automake,
 libglib2.0-dev (>= 2.4),
 libx11-dev,
 libxt-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
 libxft-dev (>= 2.0),
 libpng-dev | libpng12-dev,
 libjpeg-dev | libjpeg8-dev | libjpeg62-dev,
 libtiff4-dev | libtiff5-dev,
 libgif-dev,
 libexif-dev,
 libcairo2-dev (>= 1.4),
 libpango1.0-dev (>= 1.16)
Standards-Version: 3.9.7
Homepage: http://www.mono-project.com/

Package: libgdiplus5-sil
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A version of libgdiplus specially for SIL programs
 A specially patched version of libgdiplus from upstream source repos,
 to support FieldWorks and other SIL programs. Not intended for general
 use.
