Source: mono-basic-sil
Section: cli-mono
Priority: extra
Maintainer: Eberhard Beilharz <eb1@sil.org>
Build-Depends: debhelper (>= 7.0.50~), dpkg-dev (>= 1.13.19),
 cli-common-dev (>= 0.4.4),
 lsb-release,
 mono-sil
Standards-Version: 3.9.2
Homepage: http://www.mono-project.com/

Package: mono-basic-sil
Architecture: all
Depends: ${misc:Depends}, ${cli:Depends}
Description: A version of mono-basic specially for SIL programs
 A specially patched version of mono-basic from upstream source repos,
 to support SIL programs such as FieldWorks. Not intended for general
 use.
