#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

LIBFW = /usr/lib/fieldworks
DEB_CONFIGURE_EXTRA_FLAGS = --prefix=$(LIBFW)/mono --sysconfdir=$(LIBFW)/mono/etc

DEB_BUILD_OPTIONS = nocheck
# Stop cdbs from stupidly setting CPPFLAGS to ""
DEB_MAKE_EXTRA_ARGS =

DEB_CLI_API_VERSION = 2.0

export MONO_SHARED_DIR=$(CURDIR)

DEB_SHLIBDEPS_INCLUDE = $(LIBFW)
