*~
/build-and-install.config
/fieldworks-gtk-sharp2_*.build
/fieldworks-gtk-sharp2_*.changes
/fieldworks-gtk-sharp2_*.debian.tar.gz
/fieldworks-gtk-sharp2_*.dsc
/fieldworks-gtk-sharp2_*.orig.tar.gz
/fieldworks-gtk-sharp2_*.upload
/fieldworks-libgdiplus_*.build
/fieldworks-libgdiplus_*.changes
/fieldworks-libgdiplus_*.debian.tar.gz
/fieldworks-libgdiplus_*.dsc
/fieldworks-libgdiplus_*.orig.tar.gz
/fieldworks-libgdiplus_*.upload
/fieldworks-mono-basic_*.build
/fieldworks-mono-basic_*.changes
/fieldworks-mono-basic_*.debian.tar.gz
/fieldworks-mono-basic_*.dsc
/fieldworks-mono-basic_*.orig.tar.gz
/fieldworks-mono-basic_*.upload
/fieldworks-mono_*.build
/fieldworks-mono_*.changes
/fieldworks-mono_*.debian.tar.gz
/fieldworks-mono_*.dsc
/fieldworks-mono_*.orig.tar.gz
/fieldworks-mono_*.upload
