Source: mono4-sil
Section: cli-mono
Priority: extra
Maintainer: Neil Mayhew <neil_mayhew@sil.org>
Build-Depends: debhelper (>= 7.0.50~), dpkg-dev (>= 1.13.19),
 g++-4.8 | g++-4.7 | g++-4.6,
 wget,
 dh-autoreconf,
 gawk,
 pkg-config,
 libglib2.0-dev (>= 2.4),
 cli-common-dev (>= 0.8~),
 bison,
 libtool,
 libxml-dom-perl,
 libxslt1-dev,
 dc,
 lsb-release,
 libx11-dev,
 libxt-dev,
 zlib1g-dev,
 autoconf,
 automake,
 python
Standards-Version: 3.9.6
Homepage: http://www.mono-project.com/

Package: mono4-sil
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ca-certificates (>= 20121114)
Description: A version of mono specially for SIL programs
 A specially patched version of mono from upstream source repos,
 to support FieldWorks and other SIL programs. Not intended for
 general use.
