Source: mono5-sil
Section: cli-mono
Priority: extra
Maintainer: Stephen McConnel <stephen_mcconnel@sil.org>
Uploaders: Stephen McConnel <stephen_mcconnel@sil.org>,
 Eberhard Beilharz <eb1@sil.org>
Build-Depends: debhelper (>= 9.0.0), dpkg-dev (>= 1.13.19),
 g++-7 | g++ (<< 9),
 wget,
 dh-autoreconf,
 gawk,
 pkg-config,
 libglib2.0-dev (>= 2.4),
 bison,
 libtool (<< 2.4.6) | libtool-bin,
 libxml-dom-perl,
 libxslt1-dev,
 dc,
 lsb-release,
 libx11-dev,
 libxt-dev,
 zlib1g-dev,
 autoconf,
 automake,
 cmake,
 python-is-python2 | python,
 gettext
Standards-Version: 3.9.7
Homepage: http://www.mono-project.com/

Package: mono5-sil
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ca-certificates (>= 20121114)
Description: A version of mono specially for SIL programs
 A specially patched version of mono from upstream source repos,
 to support FieldWorks and other SIL programs.

Package: mono5-sil-dev
Architecture: any
Depends:  ${misc:Depends},
 mono5-sil (= ${binary:Version})
Description: A version of mono specially for SIL programs - debugging environment
 This package installs a script to set up the environment. This is needed
 for debugging projects that run with mono-sil. The package also updates
 the mono symlink to call the script.
