#!/usr/bin/make -f

MONO_PREFIX = /opt/mono-sil
MONO_DIR = debian/mono-sil/$(MONO_PREFIX)
USER_DIR = debian/mono-sil/usr

# Avoid build errors -- see Debian CLI policy
export MONO_SHARED_DIR=$(CURDIR)

# Use the best available gcc/g++ 4.x
CC  := $(shell cd /usr/bin && ls -v gcc-4.* | tail -n1)
CXX := $(shell cd /usr/bin && ls -v g++-4.* | tail -n1)

%:
	dh --with autoreconf --parallel $@

override_dh_autoreconf:
	NOCONFIGURE=1 ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- CC=$(CC) CXX=$(CXX) --prefix=$(MONO_PREFIX) --sysconfdir=$(MONO_PREFIX)/etc

override_dh_auto_build:
	dh_auto_build -- EXTERNAL_MCS=mcs

# Don't run make check
override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install
	XDG_CONFIG_HOME=$(USER_DIR)/share \
	$(MONO_DIR)/bin/mono $(MONO_DIR)/lib/mono/4.5/mozroots.exe --import --sync
	mkdir $(USER_DIR)/share/.mono/keypairs

# Put debugging symbols in /usr/lib/debug
override_dh_strip:
	dh_strip -k

override_dh_shlibdeps:
	dh_shlibdeps -l $(MONO_PREFIX)/lib
