#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

FWLIB = /usr/lib/fieldworks
FWMONO=$(FWLIB)/mono
PATH:=$(FWMONO)/bin:$(PATH)

%:
	dh $@ --with autoreconf --parallel

# Use custom script instead of autoreconf
override_dh_autoreconf:
	NOCONFIGURE=1 dh_autoreconf ./bootstrap-2.12

override_dh_auto_configure:
	dh_auto_configure -- --prefix=$(FWMONO)

# Don't run make check
override_dh_auto_test:

# Include FWLIB in shlib dirs searched
override_dh_shlibdeps:
	dh_shlibdeps -l$(FWMONO)/lib

# Include FWLIB in cli dirs searched
override_dh_clideps:
	dh_clideps -l$(FWMONO)/lib

# Put debugging symbols in /usr/lib/debug
override_dh_strip:
	dh_strip -k
